<main>
  <div class="container">
    <form class="book-form" action="/books/add" method="POST">
      <label>Title: <input type="text" name="title"></label>
      <label>
        Author First Name:
        <select name="authorId">
          {{#each authors}}
          <option value="{{id}}">{{firstName}} {{lastName}}</option>
          {{/each}}
        </select>
      </label>
      <label>ISBN: <input type="text" name="isbn"></label>
      <label>Description: <input type="text" name="description"></label>
      <label>Image URL: <input type="text" name="imageUrl"></label>
      <button>Submit</button>
    </form>
    <ul class="book-cards">
      {{#each books}}
      <li class="book-card">
        <figure><img src="{{imageUrl}}" alt="{{title}}"></figure>
        <a class="book-card__link" href="/books/{{id}}">{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </div>
</main>