<main>
  <section class="book-details">
    <h1>{{book.title}}</h1>
    <ul>
      {{#each book.authors}}
      <li><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></li>
      {{/each}}
    </ul>
  </section>
  <ul>
    <li>ISBN: {{book.isbn}}</li>
    <li>Description: {{book.description}}</li>
  </ul>
  <ul>
    {{#each book.tags}}
    <li><a href="/tags/{{id}}">{{name}}</a></li>
    {{/each}}
  </ul>
  <section class="rating">
    <h3 class="rating__status">Rating: {{book.rating}}</h3>
    <form action="/books/{{book.id}}/rating/increase">
      <button class="rating__increase">+</button>
    </form>
    <form action="/books/{{book.id}}/rating/decrease">
      <button class="rating__decrease">-</button>
    </form>
  </section>
  <a href="/">Back to Home</a>
</main>