<main>
  <section class="book-details">
    <h1>{{book.title}}</h1>
    <ul>
      {{#each book.authors}}
      <li><a href="/authors/{{id}}">{{firstName}} {{lastName}}</a></li>
      {{/each}}
    </ul>
  </section>
  <ul>
    <li>ISBN: {{book.isbn}}</li>
    <li>Description: {{book.description}}</li>
  </ul>
  <ul>
    {{#each book.tags}}
    <li><a href="/tags/{{id}}">{{name}}</a></li>
    {{/each}}
  </ul>
  <a href="/">Back to Home</a>
</main>